@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --bg-color: #fff;
  --text-color: #141526;
  --accent-color: #f8c470;
}


/* Dark Mode */
.dark-mode {
  --bg-color: #141526;
  --text-color: #fff;
  --accent-color: #f8c470;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family: 'roboto', sans-serif;
  background: var(--bg-color) ;
  color: var(--text-color);
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
  width: 8rem;
}